@page "/"

<PageTitle>Home</PageTitle>

<div class="flex gap-3 p-2">
  <Blazicon
    Svg="Lucide.ChevronDown"
    class="text-[32px]"
  />

  <Blazicon
    Svg="Lucide.Plus"
    class="text-[32px]"
  />

  <Blazicon
    Svg="Lucide.X"
    class="text-[32px]"
  />

  <Blazicon
    Svg="Lucide.Star"
    class="text-[32px] fill-current"
  />

  <Blazicon
    Svg="Lucide.Star"
    class="text-[32px]"
  />

  <Blazicon
    Svg="Lucide.Pencil"
    class="text-[32px]"
  />

  <Blazicon
    Svg="Lucide.Trash2"
    class="text-[32px]"
  />

  <Blazicon
    Svg="Lucide.Search"
    class="text-[32px]"
  />

  <Blazicon
    Svg="Lucide.BookOpen"
    class="text-[32px]"
  />
</div>
