@page "/"

@rendermode InteractiveServer

@using BookManager.Web.Components.Shared.Button

<PageTitle>Home</PageTitle>

<div class="flex flex-col gap-3 p-2 w-fit">
  <Button @onclick="@(() => Console.WriteLine("Primary button clicked"))">
    <Blazicon
      Svg="Lucide.Plus"
      class="text-[16px]"
    />

    Label
  </Button>

  <Button
    @onclick="@(() => Console.WriteLine("Secondary button clicked"))"
    Variant="Button.Variants.Secondary"
  >
      <Blazicon
        Svg="Lucide.Pencil"
        class="text-[16px]"
      />

      Label
  </Button>

  <Button
    Variant="Button.Variants.Danger"
    @onclick="@(() => Console.WriteLine("Danger button clicked"))"
  >
      <Blazicon
        Svg="Lucide.Trash2"
        class="text-[16px]"
      />

      Label
  </Button>
</div>

@code {

}