@page "/"
@using BookManager.Web.Components.Shared.Input

@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<div class="flex flex-col gap-3 p-2 w-fit">
    <Input
      Id="search"
      Label="Label *"
      placeholder="Pesquisar..."
    />
</div>

@code {
 
}