@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-3xl font-bold underline outline-none">
  Hello world!
</h1>

<button class="bg-sky-500 text-white px-4 py-2 rounded-full font-bold transition-colors hover:bg-sky-700">
  Save changes
</button>

<div class="flex items-center gap-3 p-2">
  <div class="size-10 rounded-lg bg-red-500" />
  <div class="size-10 rounded-lg bg-green-500" />
  <div class="size-10 rounded-lg bg-blue-500" />
</div>