@page "/"

<PageTitle>Home</PageTitle>

<div class="flex items-center gap-3 p-2">
  <div class="size-10 rounded-lg bg-gray-100" />
  <div class="size-10 rounded-lg bg-gray-200" />
  <div class="size-10 rounded-lg bg-gray-300" />
  <div class="size-10 rounded-lg bg-gray-400" />
  <div class="size-10 rounded-lg bg-gray-500" />
  <div class="size-10 rounded-lg bg-overlay" />
</div>

<div class="flex items-center gap-3 p-2">
  <div class="size-10 rounded-lg bg-navy-dark" />
  <div class="size-10 rounded-lg bg-navy-low" />
</div>

<div class="flex items-center gap-3 p-2">
  <div class="size-10 rounded-lg bg-yellow-base" />
  <div class="size-10 rounded-lg bg-yellow-bright" />
  <div class="size-10 rounded-lg bg-yellow-light" />

  <div class="size-10 rounded-lg bg-blue-base" />
  <div class="size-10 rounded-lg bg-blue-light" />

  <div class="size-10 rounded-lg bg-green-base" />
  <div class="size-10 rounded-lg bg-green-light" />

  <div class="size-10 rounded-lg bg-red-bright" />
</div>