@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-col gap-3 p-2">
  <p class="heading-xl">Heading XL</p>
  <p class="heading-lg">Heading LG</p>
  <p class="heading-md">Heading MD</p>
  <p class="body-md">Body MD</p>
  <p class="body-sm">Body SM</p>
  <p class="action">Action</p>
  <p class="badge">Badge</p>
</div>
