@page "/"

@rendermode InteractiveServer

@using BookManager.Web.Components.Pages.Components.BookList
@using BookManager.Web.Components.Pages.Components.Header
@using BookManager.Web.Components.Shared.BookCard
@using BookManager.Web.Components.Shared.Badge

<PageTitle>Minha Biblioteca</PageTitle>

<div class="max-w-281 w-full mx-auto px-4 py-8 flex flex-col gap-8 md:px-16 md:py-8">
    <Header />

    <BookList />
</div>

@code {
  List<BookModel> books = [
    new BookModel
    {
        Title = "The Great Gatsby",
        Author = "F. Scott Fitzgerald",
        CoverImageUrl = "https://images-na.ssl-images-amazon.com/images/I/81af+MCATTL.jpg",
        Rating = 5,
        BadgeType = BadgeType.Default,
        Comment = "A classic novel that explores themes of wealth, love, and the American Dream."
    },
    new BookModel
    {
        Title = "To Kill a Mockingbird",
        Author = "Harper Lee",
        CoverImageUrl = "https://images-na.ssl-images-amazon.com/images/I/81OthjkJBuL.jpg",
        Rating = 4,
        BadgeType = BadgeType.InProgress,
        Comment = "A powerful story about racial injustice and moral growth in the Deep South."
    },
    new BookModel
    {
        Title = "1984",
        Author = "George Orwell",
        CoverImageUrl = "https://images-na.ssl-images-amazon.com/images/I/71kxa1-0mfL.jpg",
        Rating = 5,
        BadgeType = BadgeType.Done,
        Comment = "A dystopian novel that delves into themes of totalitarianism, surveillance, and individual freedom."
    },
    new BookModel
    {
        Title = "Pride and Prejudice",
        Author = "Jane Austen",
        CoverImageUrl = "",
        Rating = 4,
        BadgeType = BadgeType.Default,
        Comment = "A romantic novel that explores themes of love, social class, and personal growth."
    },
    new BookModel
    {
        Title = "The Catcher in the Rye",
        Author = "J.D. Salinger",
        CoverImageUrl = "https://images-na.ssl-images-amazon.com/images/I/81OthjkJBuL.jpg",
        Rating = 3,
        BadgeType = BadgeType.Default,
        Comment = "A coming-of-age novel that delves into themes of teenage angst, alienation, and the search for identity."
    },
  ];
}