@page "/"

@using BookManager.Web.Components.Shared.Badge
@using BookManager.Web.Components.Shared.Rating

@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<div class="flex flex-col gap-3 p-2 w-full">
    <Rating
      Title="Avaliação"
      Stars="@RatingStars"
      OnStarsChanged="@HandleStarsChanged"
      OnClearAll="@(() => HandleStarsChanged(0))"
    />

    <Badge Type="BadgeType.Default" />
    <Badge Type="BadgeType.InProgress" />
    <Badge Type="BadgeType.Done" />
</div>

@code {
  private int RatingStars = 0;

  private void HandleStarsChanged(int stars)
  {
    Console.WriteLine($"Stars changed to: {stars}");

    RatingStars = stars;
  }
}