@using BookManager.Web.Components.Shared.Button

<header class="w-full flex items-center justify-between">
    <a href="/" class="flex items-center gap-3">
        <Blazicon
            Svg="Lucide.BookOpen"
            class="text-[32px] text-navy-low"
        />

        <span class="body-md text-gray-500">Minha Biblioteca</span>
    </a>

    <Button ClassName="w-fit">
        <Blazicon
            Svg="Lucide.Plus"
            class="text-[16px]"
        />

        Adicionar livro
    </Button>
</header>